.Header {
  color: #666;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  top: 0;
  width: 100%;
  font-weight: bold;
  background-color: #f0f0e9;
}

.Header a {
  padding: 10px;
  text-decoration: none;
  color: #666;
}

.Header button {
  padding: 10px;
  text-decoration: none;
  color: #666;
  font-size: 1.2rem;
}

input, button { border:none; } 

input:focus {
  outline: none;
}

@media (max-width: 1024px)  {
  input {
    width: 200px;
  }
}

@media (min-width: 1024px)  {
  input {
    width: 400px;
  }
}
