.Header {
  color: #666;
  height: 35px;
  font-size: 2rem;
  position: fixed;
  display: flex;
  flex-direction: row;
  z-index: 2;
  top: 0;
  width: 100%;
  align-items: center;
  font-weight: bold;
  background-color: #f0f0e9;
  text-align: left;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
