.PeopleEditor {
    border-radius: 8px;
    background-color: white;
    padding: 5px;
    margin-top: 10vh;
    margin-right: 30px;
    margin-left: 30px;
    width: 80%;
    height: 100%;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; */
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  }

.SearchBar input {
  margin: 10px;
  width: 100%;
  font-size: min(3.5vw, 1.5rem);
  /* height: 40px; */
}

.PeopleEditor img {
  max-width: 60px;
}

.PeopleEditor input {
  padding-left: 10px;
  color: grey;
  border: none;
  border-color: transparent;
}

input:focus {
  outline: none;
}
