.Timeline {
  top: 60px;
  width: 100%;
  position: absolute;
}

.Zoom {
  top: 85px;
  z-index: 2;
  right: 43px;
  position: fixed;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  background-color: #f0f0e9;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.ZoomAction:hover {
  background-color: rgba(180,180,144,.4);
  border-radius: 20px;
}

.AddItem {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 30px;
  top: 160px;
  background-color: #f0f0e9;
  color: gray;
  border-radius: 40px;
  z-index: 2;
  text-align: center;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.AddItem:hover {
  background-color: rgba(180,180,144,.4);
}

.AddItem svg{
  font-size: 50px;
}

.Centuries {
  position: fixed;
  display: flex;
  border-right: #ddd 1px dotted;
  margin-bottom: 50px;
  color: rgba(128, 128, 62, 0.6);
  font-size: 20px;
}

.Category-menu {
  position: fixed;
  top: 20%;
  height: 40%;
  width: max(20%, 200px);
  outline: none;
  border: none;
  box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%), 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);
  border-radius: 8px;
}

dialog::backdrop {
  /* position: absolute;
  top: 100px; 
  right: 100px;  */
  background-color: blue;
}